# The path (relative to the repo's root) to the Google credentials JSON file to
# use for testing.
TEST_JSON_AUTH_FILE_PATH=credentials/your-credentials-file-name.json

# The ID of the Google Sheet, shown in its URL after the
# "https://docs.google.com/spreadsheets/d/" prefix, up until the next "/".
TEST_SPREADSHEET_ID=
